.contactContent {
  background: $color-3;
  border-radius: $borderRadius;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 45% 35%;
  grid-template-areas: 
    "1"
    "2"
    "3";

  .header {
    grid-area: 1;
    width: 100%;
    position: relative;
    background: $color-1;
    height: 340px;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(../../media/map.jpg) no-repeat center top/cover;
      filter: grayscale(100%);
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 30px;
      background: url(../../media/shape.svg) no-repeat center /cover;

    }
  }
  .contactBox {
    grid-area: 2;
    display: grid;
    background: $color-5;
    justify-self: center;
    padding: 1rem 3rem;
    z-index: 2;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px rgb(44, 41, 41);
    color: $color-1;
    width: 50%;
    height: 100%;
    min-width: 440px;
    min-height: 200px;

    h1 {
      text-align: center;
      margin-top: 0.3rem;
      position: relative;

    }
    .underline {
      justify-self: center;
      height: 1px;
      width: 50%;
      background: $color-1;    
    }
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      li {
        display: grid;
        grid-template-columns: 20% 80%;
        align-content: center;
        
        i {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          color: $color-3;
        }
        span {
          font-size: 1.4rem;
          transition: .2s ease;
        }
        .clickInput:hover {
          transform: translateX(1rem);
          cursor: pointer;
        }
      }
    }
  }
  .socialNetwork {
    grid-area: 3;
    @include verticalCenter;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around;

      a {
        width: 18%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-1;
        background: $color-5;
        border-radius: $borderRadius;
        box-shadow: $shadow;
        transform: scaleY(0);
        transform-origin: center;
        transition: .5s ease;

        &:hover {
          background: $color-1;
          color: $color-3;
        }

        &:hover i {
          animation-duration: 4s;
          animation-name: leftAndRight;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }

        i {
          color: $color-3;
          font-size: 1.5rem;
        }
      }
      //ANIMATION
      @mixin networkAnim($timeout) {
        animation: pop 1s forwards;
        animation-delay: $timeout;

      }
      @keyframes pop {
        to {
          transform: scaleY(1);
        }
      }
      @keyframes leftAndRight {
        8% {
          transform: translateX(0.5rem) rotate(10deg);
        }
        16% {
          transform: translateX(1rem) rotate(-10deg);
        }
        24%{
          transform: translateX(1.5rem) rotate(10deg);
        }
        32%{
          transform: translateX(2.0rem) rotate(-10deg);
        }
        42%{
          transform: translateX(0) rotate(-1turn);
        }
        46%{
          transform: scale(1.2);
        }
        50%{
          transform: scale(1);
        }
        58% {
          transform: translateX(-0.5rem) rotate(-10deg);
        }
        66% {
          transform: translateX(-1rem) rotate(10deg);
        }
        72%{
          transform: translateX(-1.5rem) rotate(-10deg);
        }
        82%{
          transform: translateX(-2.0rem) rotate(10deg);
        }
        94% {
          transform: translateX(0) rotate(1turn);
        } 
        96% {
          transform: scale(1.2);
        } 
        to {
          transform: scale(1);
        }       
      }
      a:nth-child(1) {
        @include networkAnim(.4s);
      }
      a:nth-child(2) {
        @include networkAnim(.8s);
      }
    }
  }
}
@media screen and (max-width: 600px){
  .contactContent {
    .contactBox {
      width: 100% !important;
    }
    h4 {
      font-size: .9rem;
    }
  }
}