.home {

    // button animation config
    $border-width: 5px;
    $border-width-offset : -5px;
    $t_dur: .3s;
    $a_dur: 1s;
    .homeContent {
        background: linear-gradient(115deg, $color-1 50%, transparent 100%);
        min-height: $minHeight;
        width: 100%;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: url('../../media/bigGates.jpg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(30%);
        }

        .content {
            position: absolute;
            top: 20%;
            left: 13%;
            font-family: $font-1;

            h1 {
                font-size: 5rem;
                font-family: $font-3;
                color: $color-5;
                text-transform: uppercase;
                text-shadow: 1px 2px 1px $black;
                letter-spacing: 0.5rem;
            }
            h2 {
                font-size: 2.5rem;
                color: $color-3;
                text-shadow: 1px 2px 1px $black;
            }
            .pdf {
                margin-top: 15%;
                a {
                    font-size: 1.5rem;
                    background: linear-gradient($color-5, $color-4);                    padding: 1rem 2rem;           
                    position: relative;
                    color: white;
                    text-align: center;

                    &:before, &:after {
                        content: '';
                        width: 0%;
                        height: 0%;
                        position: absolute;
                        visibility: hidden;
                    }
    
                    &:before {
                        border-top: $border-width solid $color-2;
                        border-right: $border-width solid $color-2;
                        transition: width $t_dur ease $t_dur * 3, height $t_dur ease $t_dur * 2, visibility 0s $t_dur * 4;
                        top: $border-width-offset;
                        left: 0;
                    }
    
                    &:after {
                        border-left: $border-width solid $color-2;
                        border-bottom: $border-width solid $color-2;
                        bottom: 0;
                        right: 0;
                        transition: width $t_dur ease $t_dur, height $t_dur ease, visibility 0s $t_dur * 2;
                    }
    
                    &:hover {
                        animation: pulse $a_dur ease-out $t_dur * 4;                     
                        &:before, &:after {
                            width: 100%;
                            height: 100%;
                            visibility: visible;
                        }
                        &:before {
                            transition: width $t_dur ease, height $t_dur ease $t_dur;
                        }
                        &:after {
                            transition: width $t_dur ease $t_dur * 2, height $t_dur ease $t_dur * 3, visibility 0s $t_dur * 2;
                        }
                    }
                    @keyframes pulse {
                        from {
                            box-shadow: 0 0 0 0 rgba(3,149,229,.4);
                        }
                        to {
                            box-shadow: 0 0 0 45px rgba(3,149,229,0);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .homeContent {
        margin: 0 !important;

        h1 {
            font-size: 2.5rem !important;
        }

        h2 {
            font-size: 1.8rem !important;
        }
    }
}
@media screen and (max-width:600px){
    .homeContent {
        &:after {
            background: url('../../media/bigGates.jpg') no-repeat 60% 50%/cover !important;
        }
        h1 {
            font-size: 2.1rem !important;
        }
        h2 {
            font-size: 1.8rem !important;
            margin: 2rem;
        }
    }
}