.portfolio {
  .portfolioContent {
    width: 100%;
    display: grid;
    min-height: $minHeight;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .project {
      background: $color-3;
      border-radius: $borderRadius;
      text-align: center;
      width: 32%;
      height: 100%;
      padding: .3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 15% 15% 55% 15%;
      grid-template-areas: 
        "1"
        "2"
        "3"
        "4";
    }
    .icons {
      grid-area: 1;
      display: flex;
      justify-content: center;
      @include verticalCenter;

      i {
        font-size: 1.4rem;
        padding: 0 0.35rem;
        color: $color-5;
      }
    }
    .name {
      grid-area: 2;
      @include verticalCenter;
      justify-content: left;
      h3 {
        font-family: $font-2;
        font-size: 1.3rem;
      }
    }
    .imageBox {
      display: block;
      overflow:hidden;

      img {
        grid-area: 3;
        object-fit: cover;
        width: 100%;
        height: 80%;
        box-shadow: 0 2px 6px #333;
        border-radius: $borderRadius;
        cursor: pointer;
        @include verticalCenter;
        transition:0.5s;
        
        &:hover {
        transform : scale(1.06);
        opacity: 0.8;
        }
      }     
    }
    .infos {
      grid-area: 4;
      @include verticalCenter;
      
      i {
        color: $color-1;
        cursor: pointer;
        font-size: 1.5rem;
        transition: 0.3s;

        &:hover {
          transform: scale(1.2);
          border-radius: 50%;
          box-shadow: 0 0 0 2px $color-1;
          color: $color-5;
        }
      }
    }
    .showInfos {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.507);
      font-family: $font-2;
      animation: popup .3s ease forwards ;
      transform-origin: center;

      .infosContent {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        color: $color-5;
        font-weight: bold;
        background: $color-1;
        border-radius: $borderRadius;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup .6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          } 
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      .button {
        cursor: pointer;
        color: $color-1;
        background: $color-5;
        border-radius: $borderRadius;
        padding: 1rem;
        transition: .2s;

        &:hover {
          background: $color-4;
        }
      }
      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }
      .return {
        margin: 1rem auto;
        width: 200px;
      }
    }
  }
}
@media (max-width: 850px) and (min-width: 521px){
  .portfolioContent {
    .project {
      width: 49% !important;
      margin-top: 0.5rem;

      .icons {
        i {
          font-size: 2.0rem;
        }
      }
    }
    .infosContent {
      width: 100% !important;
    }
  }
}
@media (max-width: 600px){
  .portfolioContent {
    .project {
      grid-template-rows: 30px 40px 1fr 40px !important;
      width: 98% !important;
      max-height: 500px;

      img {
        height: 100% !important;
      }
    }
  }
}