@import url('https://fonts.googleapis.com/css2?family=Judson&family=Nixie+One&family=Gruppo&display=swap');

$font-1: 'Judson', cursive;
$font-2: 'Nixie One', sans-serif;
$font-3: 'gruppo', serif;

$color-1:#041724;
$color-2: #34495e;
$color-3:#e9efff;
$color-4:#001e31;
$color-5:#c8bdff;
$white:#cacfd2;
$black:#17202A;

$borderRadius: 2px;
$shadow: 0 1px 3px #17202A;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: $font-1;
    color: $white;
}
button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $black;
}
a:visited {
    color: $black;
}
.home, .knowledges, .portfolio, .contact {
    display: flex;
    align-items: stretch;

    @media screen and (max-width: 850px){
        display: block !important;
    }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {

    @media screen and (max-width: 850px){
        margin-left: 0 !important;
    }
}