@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nixie+One&family=Train+One&display=swap');

$font-1: 'Abril Fatface', cursive;
$font-2: 'Nixie One', sans-serif;
$font-3: 'Train One', serif;

$color-1:#d6eaf8;
$color-2: #34495e;
$color-3:#3498db;
$color-4:#5dade2;
$color-5:#2C2455;
$white:#cacfd2;
$black:#17202A;

$borderRadius: 5px;
$shadow: 0 1px 3px #17202A;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 1rem auto;
    max-width: 1200px;
    min-height: 100vh;
    font-family: $font-1;
    color: $black;
}
button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $black;
}
a:visited {
    color: $black;
}
.home, .knowledges, .portfolio, .contact {
    display: flex;
    align-items: stretch;

    @media screen and (max-width: 850px){
        display: block !important;
    }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
    margin-left: 0.4rem;

    @media screen and (max-width: 850px){
        margin-left: 0 !important;
    }
}